
.novidades {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilo para as imagens */
.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    transition: opacity 0.3s ease-in-out;
}

/* Estilo para as setas */
.seta {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.seta-esquerda {
    left: 10px;
}

.seta-direita {
    right: 10px;
}